/* Section calendar */

#calendar{
    display: flex;
    justify-content: space-around;
}

/* Section in calendar */

#classes, #option{
    box-shadow: 0px 0px 7px #00000029;
    border-radius: 15px;
    background-color: var(--white);
    min-height: 80vh;
}

/* Section option */

#option{
    width: 18%;
}

/* Classes */

#classes-content{
    margin: 36px 32px 25px 32px;
    display: flex;
}


#classes{
    width: 80%;
}

#left-part-classes{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}

#left-part-classes span{
    max-width: 70px;
    height: 14.28%;
    font-size: 13px;
}

/* Lines */

#line-container{
    position: absolute;
    width: 99%;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
}
.line{
    height:2px;
    background-image: url(/frontend/assets/elements/line-border.svg);
    background-position: bottom;
    background-size: 17px 2px;;
    background-repeat: repeat-x;
    margin: 105px 0 0 0;
    z-index: 2;
}

#right-part-classes{
    display: flex;
    flex-direction: column;
    width: 98%;
}

#legend-container{
    display: flex;
    margin: 0 0 10px 0;
}
#legend-container span{
    max-width: 234px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    align-items: center;
}

#day-container{
    display: flex;
    min-height: 742px;
    height: 100%;
    position: relative;
}

.day{
    height: 100%;
    width: 100%;
    margin: 0 5px;
    background-color: var(--grey);
    max-width: 234px;
}

.event{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
    position: relative;
}
.pause{
    cursor: auto;
}

/* Lesson détails */
.lesson-details{
    width: 214px;
    min-height: 346px;
    position: absolute;
    background-color: var(--grey);
    top: 0;
    right: -214px;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 4;
    cursor: auto;
    text-align-last: start;
    text-align: start;
}
.lesson-details-header{
    height: 36px;
    background-color: #BFE3BA;
    border-radius: 15px 15px 0 0;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    place-content: center;
    align-items: center;
}
.lesson-details-content{
    margin: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.lesson-details-title{
    font-size: 1.05em;
}
.lesson-details-results{
    margin: 5px 0 8px 3px;
    color: var(--dark_grey);
    font-size: 1em;
}


/* For mobile */

@media screen and (max-width: 1280px){
    #calendar{
        justify-content: center;
    }
    #classes{
        width: 95%;
    }
    #classes-content{
        margin: 36px 10px 25px 10px;
    }
    #option{
        display: none;
    }
    #legend-container span, .day{
        display: none;
        max-width: none;
    }
    .day-mobile-active{
        display: flex !important;
        flex-direction: column;
    }
    #line-container{
        margin: 0;
    }
}