main, form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 50%;
    padding: 2rem 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 70%;
    min-width: 20rem;
}

.login-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--title-color);
}

.login-subtitle{
    font-size: 0.9rem;
    color: var(--title-color);
}

/* Links */

#forgotten-password-link, #register-link {
    margin-top: .1rem;
    font-size: .8rem;
    text-decoration: none;
}

#forgotten-password-link {
    align-self: flex-end;
    color: var(--red);
    margin-bottom: 1.5rem;
}

#register-link {
    color: var(--faint-text);
    margin: 1.5rem 0 .5rem 0;
}

/* Buttons */

.red-button {
    width: 40%;
    min-width: 10rem;
}

.white-button {
    width: calc(40% - 4px);
    min-width: calc(10rem - 4px);
}
