/* login-section */

#login-section{
    display: flex;
    margin: 3vw 0 0 0;
}

/* All sections */
.login-section{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 75vh; 
    min-height: 400px;
}

.login-title-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title{
    font-size: 1.5em;
    font-weight: 500;
    color: var(--title-color);
}
.login-subtitle{
    font-size: 0.9em;
    color: var(--title-color);
}

#login-divider-bar{
    background-color: var(--red);
    width: 5px;
    border-radius: 3px;
}

.login-input-content{
    width: 100%;
    min-height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}

/* Input */

.input{
    width: 78%;
    height: 10vh;
    margin: 15px 0;
    min-height: 42px;
    background-color: var(--input-color);
    color: var(--input-text);
}

.form-button{
    height: 100%;
    margin: 15px 0;
    min-height: 38px;
}

.checkbox-content{
    width: 89%;
    height: 10vh;
    max-width: 693px;
    max-height: 64px;
    display: flex;
    border-radius: 32px;
    overflow: hidden;
    margin: 15px 0;
    min-height: 42px;
}

.language-checkbox:first-child{
    border-radius: 32px 0 0 32px;
}
.language-checkbox:last-child{
    border-radius: 0 32px 32px 0;
}
.language-checkbox{
    width: 20%;
    height: 100%;
    display: flex;
    background-color: var(--input-color);
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 1px var(--background);
    color: var(--input-text);
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
    font-size: 15px;
    transition: filter 0.2s, background-color 0.2s;
}
.language-checkbox:hover{
    filter: brightness(0.9);
}
.language-checkbox input, .group-checkbox input{
    display: none;
}

.group-checkbox{
    width: 50%;
    justify-content: start;
    padding: 0 26px;
}

input:checked + .language-checkbox {
    background-color: red;
}

  

/* Mobile */

@media screen and (max-width: 1280px){
    #login-section{
        flex-direction: column;
    }
    .login-section{
        width: 100%;
        margin: 44px 0;
        height: auto;
        min-height: 0;
    }
    .login-title{
        text-align: center;   
    }
    #login-divider-bar{
        height: 3px;
        width: 90%;
        margin: 0 auto;
    }
    .checkbox-content{
        width: 95%;
    }
    .language-checkbox{
        font-size: 12px;    
        height: auto;
        min-height: 42px;
    }
    .login-input-content{
        margin: 6% 0;
    }
}

