/* Colors */

:root {
    /* All colors */
    --primary: #CB6CE6;
    --light-text: #F6F6F6;
    --dark-text: #262626;
    --dark: #1A1A1B;
    --medium-dark: #333333;
    --light: #FFFFFF;
    --medium-light: #EBEAEA;
    --error-red: #fc3d03;
    --background-footer: #D9D9D9;

    /* home page colors */
    --pink: #CB6CE6;
    --light-gray: #AEAEAE;
    --background: var(--medium-light);
    --closer-background: var(--light);
    --text: var(--dark-text);
    --day: white;
    --platform-grey: #5A5A5A;
    --priorities-grey-text: #B7B7B7;
}

/* Dark-thème */

:root[data-theme="dark"] {
    --background: var(--dark);
    --closer-background: var(--medium-dark);
    --text: var(--light-text);
    --day: #262627;
}
