#verified-img{
    width: 100%;
    margin: 3rem 0;
}

h2{
    font-size: max(min(4vw, 3.5rem), 3rem);
    text-align: center;
    margin: 0 0.3rem;
    color: var(--text);
}

h3{
    text-align: center;
    font-size: calc(max(min(4vw, 3.5rem), 3rem)*0.35);
    margin: 0 0.3rem;
    color: var(--text);
}

.submit-buttons{
    margin-top: 2rem;
}

:root[data-theme="dark"] #verified-img {
    filter: invert(1);
}