/* Start section */

.purple-text {
    color: var(--primary)
}

/* Top section */

#homepage-top {
    height: calc(100vh - 5rem);
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

#homepage-top-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3%;
    width: 47%;

    font-size: 1.1em;
    text-align: end;
    color: var(--text);
    text-align: start;
}

#homepage-top-left>h2 {
    font-weight: bold;
    font-size: 3.5rem;
    width: 120%;
    color: var(--text);
}

#homepage-top-left>p {
    font-size: 1.7rem;
    margin: 1.4rem 0;
    color: #E6E6E6;
}

#homepage-top-left>a {
    line-height: 3.4rem;
    height: 3.4rem;
    font-size: 2rem;
    border-radius: 1.7rem;
    font-weight: normal;
    width: min-content;
    padding: 0 2.5rem;
}

.parallelogramme {
    width: 55vw;
    height: calc(100vh - 5rem);
    background-color: var(--background);
    transform: skew(-13deg) translate(18vh,0px);
    -webkit-transform: skew(-13deg) translate(18vh,0px);
	-moz-transform: skew(-13deg) translate(18vh,0px);
	-o-transform: skew(-13deg) translate(18vh,0px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-self: center;
}

.parallelogramme img {
    transform: skew(13deg); 
}
