/* General */

html {
    color: var(--dark-text);
    font-family: 'roboto', serif;
    scroll-behavior: smooth;
    overflow-x: hidden
}

body {
    background-color: var(--medium-light);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Header */

#EDT-button {
    padding: 0 1rem;
    font-size: 1.1rem;
    width: min-content;
    height: 2.4rem;
    line-height: 2.4rem;
    border-radius: 1.2rem;
}

/* For the NewHeader : */

#header-name {
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 0.1rem;
    color: var(--light);
}

header {
    background-color: #1F0A5310;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    max-height: 121px;
    min-height: 75px;
    height: 7%;
    position: fixed;
}
/* HomeSection */

#home-section {
    height: 100vh;
    background: linear-gradient(135deg, var(--pink), #1F0A53);
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: -webkit-fill-available; /* For mobile safari users */
}

#home-description {
    min-width: 430px;
    width: 100vw;
    margin: 0 4%;
    color: var(--light);
    padding: 0 5%;
}

#home-image {
    width: 57vw;
    margin-left: -8vw;
    transform: translateX(2vw);
}

#home-title {
    font-size: 3.3rem;
    line-height: 3.5rem;
}

#home-paragraph {
    max-width: 426px;
    margin: 2% 0 5% 0;
    font-size: 1.3rem;
    line-height: 1.4rem;
    font-weight: lighter;
}

#register-button {
    background-color: var(--pink);
    color: var(--light);
    max-width: 300px;
}


/* Nav */

#main-page-nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.4rem;
}

.navigation-link{
    font-size: 1.3em;
    font-weight: bold;
    color: var(--light);    
    text-decoration: none;
    padding: 9px 20px;
}

.navigation-link:last-child{
    display: none;
}
.navigation-link:last-child::after{
    content: url("/assets/elements/mainpage-arrow.svg");
    margin: auto 10px;
    display: flex;
    height: 14px;
}



/* ROD */
#steering-rod {
    display: flex;
    flex-direction: column;
    width: calc(100% - 14rem);
    padding: 0 5rem;
    transform: translateY(calc(-30px - 1.5rem - 2.7rem)); /* - size of the corner - size of labels - padding */
}

#mid-rod {
    border-left: 6px solid;
    border-image: linear-gradient(to bottom, var(--pink), var(--light-gray)) 1;
    padding-top: 1.5rem;
}

.h-rod{
    height: 6px;
}

/* ROUNDED */
.nw-rounded, .sw-rounded, .se-rounded{
    width: 30px;
    height: 30px;
}

.nw-rounded{
    border-top-left-radius: 100%;
    background-image: radial-gradient(circle at 30px 30px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 24px, var(--pink) 24px);
}

.sw-rounded{
    border-bottom-left-radius: 100%;
    background-image: radial-gradient(circle at 30px 0px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 24px, #AFAFAF 24px);
}

.se-rounded{
    border-top-right-radius: 100%;
    background-image: radial-gradient(circle at 0px 30px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 24px, #AFAFAF 24px);
}

/* TOP ROD */
#top-rod{
    display: flex;
}

#top-rod .h-rod{
    width: 100%;
    border-radius: 0 3px 3px 0;
}

/* BOTTOM ROD */
#bottom-rod{
    display: flex;
    align-items: flex-end;
}

.se-rounded {
    transform: translateY(calc(100% - 6px));
}

#bottom-rod .h-rod {
    width: 50%;
    background-color: var(--light-gray);
}

#bottom-rod a {
    color: var(--light-gray);
    transform: translate(-50%, calc(100% + 30px));

}


/* Gradient color */
#top-rod .h-rod {
    background: var(--pink);
}


/* All other main section */

.main-content-title{
    font-size: 2.5em;
    font-weight: bold;
    color: var(--pink);
}

.main-content-subtitle{
    font-size: 1.1em;
    font-weight: 500;
    color: var(--dark-text);
    max-width: 700px;
}

.dot-rod::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--medium-light);
    border: 4px solid var(--light-gray);
    border-radius: 50%;
    transform: translate(calc(-50% - 3px), 10px);
    outline: 6px solid var(--medium-light);
}
/* Dot-rod whene have for child #open-source */
.dot-rod:nth-child(4)::before{
    background-color: var(--pink);
    outline: 6px solid var(--pink);
}
/* Sections */

section
.section-title {
    font-size: 2.5rem;
    color: var(--pink)
}

.section-description {
    font-size: 1.5rem;
    color: var(--dark-text);
    font-weight: 500;
}

#mid-rod section {
    margin: 1rem 0px 1rem 2rem;
}


.title-block {
    max-width: 650px;
    width: 90%;
}

/* Fetures */

#mosaic {
    display: grid;
    grid-template: 
                "f1 f1 f2 f3"
                "f4 f5 f5 f3";
    grid-template-rows: 49%;
    grid-gap: 0.8rem;
    margin: 3%;
    max-width: 1200px;
    aspect-ratio: 1497/748;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.feature {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.feature img {
    object-fit: contain;
    flex-grow: 1;
    max-width: 12rem;
    width: 9vw;
}

.feature h5 {
    font-size: 1vw;
    color: var(--dark-text);
    max-height: 58px;
    height: 2.2vw;
    padding: 5px 5%;
    width: 85%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature:nth-child(1) {
    grid-area: f1;
}
.feature:nth-child(2){
    grid-area: f2;
} 
.feature:nth-child(3){
    grid-area: f3;
}
.feature:nth-child(4){
    grid-area: f4;
}
.feature:nth-child(5){
    grid-area: f5;
}

/* Platforms */
#platforms-container {
    display: flex;
    margin: 2% 0;
}

#phone-part > img {
    width: 54%;
    margin-bottom: -30px;
}
#desktop-part > img {
    width: 133%;
}

#platforms-container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    max-width: 566px;
}

.descriptor {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    color: var(--dark-text);
    margin: 1rem;
    width: 60%;
    min-width: 20rem;
}
.descriptor-paragraph{
    font-weight: 500;
    color: var(--platform-grey);
}
.descriptor-paragraph b{
    color: var(--dark-text);
    font-weight: 500;
}

.availables {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--platform-grey);}

.platform-ico {
    margin: 0.5rem 0 0 0;
}

.platform-ico > img {
    max-width: 35px;
    min-width: 25px;
    width: 3vw;
}
.platforms-samll-info{
    font-size: 0.8rem;
    color: var(--platform-grey);
}

/* Priorities section */

#priorities-container {
    display: flex;
    padding: 73px 20px;
}
.priorities-element{
    max-width: 323px;
    width: 80%;
    height: fit-content;
    aspect-ratio: 1/1;
    background-color: rgba(185, 185, 185, 0.1);
    border-radius: 25px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px); /* For Safari */    
    display: flex;
    flex-direction: column;
    padding: 30px 30px 33px 43px;
    justify-content: space-between;
}
.priorities-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
}
.priorities-image img{
    width: 50%;
    height: auto;
    margin: auto;
}
.priorities-description{
    height: 55%;
}
#picture-facility{
    box-shadow: 0 8px 19px rgba(47, 128, 237, 0.3);
    margin-top: 15%;
}
#picture-facility div.priorities-image{
    background: rgba(47, 128, 237, 1);
    box-shadow: 0 3px 9px #2f80ed, 0px -5px 8px #1957aa inset;
}
#picture-ambitious{
    box-shadow: 0 8px 19px rgba(237, 161, 47, 0.3);
    margin: 0 0 0 -1%;
}
#picture-ambitious div.priorities-image{
    background: #EDA12F;
    box-shadow: 0 3px 9px #EDA12F, 0px -5px 8px #c98927 inset;
}
#picture-security{
    box-shadow: 0 8px 19px rgba(33, 150, 83, 0.3);
    margin: 19% 0 0 -13%;
    z-index: 2;
}
#picture-security div.priorities-image{
    background: #219653;
    box-shadow: 0 3px 9px #219653, 0px -5px 8px #1b7c45 inset;
}
#picture-volunteer{
    box-shadow: 0 8px 19px rgba(244, 189, 80, 0.3);
    margin: -3% 0 0 -5%;
}
#picture-volunteer div.priorities-image{
    background: #F4BD50;
    box-shadow: 0 3px 9px #F4BD50, 0px -5px 8px #c79a40 inset;
}
.priorities-element span{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--priorities-grey-text);
    letter-spacing: 1.3px;
    font-size: 1rem;
    margin: 0 0 3% 0;
}
.priorities-element p{
    font-size: 1.2rem;
    color: var(--dark-text);
    font-weight: 500;
}


/* Open source */
#open-source {
    padding: 0 0 30px 0;
}
#open-source .section-title, #open-source .section-description, #github-link{
    color: var(--light-text);
}
#open-source::before{
    position: fixed;
    content: "";
    background: linear-gradient(135deg, var(--pink), #1F0A53);
    width: 100vw;
    height: 76vw;
    max-height: 870px;
    min-height: 725px;
    left: 0;
    z-index: -1;
    transform: translateY(-15px);
}
#github-overview {
    display: flex;
    width: 100%;
    max-width: 890px;
    object-fit: contain;
    margin: 2rem 0;
}

#github-link {
    line-height: 2rem;
}

/* Footer */
footer{
    background: linear-gradient(135deg, var(--pink), #1F0A53);
    height: 227px;
    /* Provisoir */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
}

/* Responsiv for mobiles */
@media screen and (max-width: 900px) {
    #home-section {
        flex-direction: column;
        justify-content: center;
    }

    #home-title {
        font-size: 2.3em;
        line-height: 44px;
        max-width: 426px;
    }

    #home-paragraph {
        font-size: 1.1em;
        margin-top: 0.2rem;

    }

    #home-description {
        width: 83%;
        min-width: 0;
    }

    #home-image {
        width: 110vw;
        transform: translateX(10%);
    }

    #main-page-content {
        padding: 0px 4% 0 5.3%;
    }
    /* Nav */
    
    .navigation-link {
        display: none;
    }

    #main-page-nav .navigation-link:last-child {
        display: flex;
        font-size: 1.15rem;
    }

    #steering-rod { 
        width: calc(100% - 2rem);
        padding: 0 1rem;    
    }

    /* Property of sections */
    .title-block{
        width: 100%;
        margin: 0 0 18px 0;
    }
    .section-title{
        font-size: 1.7rem;
    }
    .section-description{
        font-size: 1.2rem;
    }

    /* Mosaic */
    #mosaic {
        grid-template: 
                    "f2 f3"
                    "f4 f3"
                    "f1 f1"
                    "f5 f5";
        grid-gap: 0.5rem;
        aspect-ratio: 343/696;
        height: -webkit-fill-available; /* For Safari */
        grid-template-rows: none;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .feature{
        border-radius: 0.6rem;
    }
    .feature img{
        width: 19vw;
    }
    .feature h5 {
        font-size: 2.6vw;
        height: 6.2vw;
    }

    /* Platforms */
    #platforms-container {
        flex-direction: column;
    }
    #platforms-container > div{
        width: 80%;
    }

    .descriptor {
        width: 90%;
    }

    .availables {
        font-size: 1rem;
    }
    .platforms-samll-info{
        font-size: 0.7rem;
    }

    #desktop-part > img {
        position: initial;
        width: 90%;
        object-fit: contain;
        transform: translateY(0px);
    }
    /* Open Source */
    #open-source::before{
        height: 14.2%;
        min-height: 552px;
    }
}
/* Responsiv 1400 */
@media screen and (max-width: 1400px) {
    /* Priorities */
    #priorities-container {
        flex-direction: column;
        width: 70%;
        padding: 41px 11px;
    }
    .priorities-element{
        padding: 22px 20px 14px 29px;
        width: 89%;
    }
    .priorities-element span{
        font-size: 0.9rem;
    }
    .priorities-element p{
        font-size: 1.1rem;
    }
    #picture-facility{
        margin: 0;
    }
    #picture-ambitious{
        margin: -10% 0 0 21%;
    }
    #picture-security{
        margin: -13% 0 0 1%;;
    }
    #picture-volunteer{
        margin: -6% 0 0 26%;
    }
}