/* General */

main, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main {
    width: 73%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* login-section */

#login-section{
    display: flex;
    margin: 3vw 0 0 0;
}

/* All sections */
.identification-section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 95px 0 0 0;
}

.login-title-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title{
    font-size: 1.5em;
    font-weight: 500;
    color: var(--title-color);
    margin: 0 0 30px 0;
}
.login-subtitle{
    font-size: 0.9em;
    color: var(--title-color);
}

#login-divider-bar{
    background-color: var(--red);
    width: 5px;
    border-radius: 3px;
}

.login-input-content{
    width: 95%;
    max-width: 627px;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 0 0;
}

/* Input */

.input{
    height: 10vw;
    min-height: 53px;
    background-color: var(--input-color);
    color: var(--input-text);
}

/* Input container */

.input-container{
    width: 100%;
    height: 3.5rem;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    max-width: 627px;
    position: relative;
}

.checkbox-content{
    width: 100%;
    height: 3.5rem;;
    max-width: 693px;
    max-height: 64px;
    display: flex;
    border-radius: 32px;
    overflow: hidden;
    margin-top: 1rem;
    min-height: 42px;
}
/* Error message */

.error-message-text{
    color: var(--red);
    font-size: 0.9em;
    margin: 5px 0 0 15px;
    position: absolute;
    bottom: -19px;
    display: none;
}

#error-message{
    color : var(--red);
}

/* Forget password */

.forget-password{
    color: var(--red);
    margin: 0 0 0 auto;
    text-decoration: none;
    font-size: 0.9em;
    border-bottom: 1px solid transparent;
    transition: 0.2s; ;
}
.forget-password:hover{
    border-color: var(--red);
}

/* language-checkbox */

.language-checkbox:first-child{
    border-radius: 32px 0 0 32px;
}
.language-checkbox:last-child{
    border-radius: 0 32px 32px 0;
}
.language-checkbox{
    width: 100%;
    height: auto;
    display: flex;
    background-color: var(--input-color);
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 1px var(--background);
    color: var(--input-text);
    padding: 0 10px;
    cursor: pointer;
    user-select: none; 
    font-size: 15px;
    transition: filter 0.2s, background-color 0.2s;
}
.language-checkbox:hover{
    filter: brightness(0.9);
}
.language-checkbox input, .group-checkbox input{
    display: none;
}

.language-checkbox-active{
    background-color: var(--red);
    color: white;
}

.group-checkbox{
    width: 50%;
    justify-content: start;
    padding: 0 26px;
}

input:checked + .language-checkbox {
    background-color: red;
}

/* Another possibility */

.possibility-title{
    font-size: 0.9em;
    color: var(--calendar-text);
}

/* dropdown-list */

.dropdown-list-box{
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.dropdown-list{
    width: 100%;
    height: 3.5rem;
    padding: 0 1.5rem;
    border-radius: 2rem;
    background-color: var(--input-color);
    color: var(--faint-text);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(/assets/elements/select-arrow.svg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 97%;
}


/* Links */

#forgotten-password-link, #register-link {
    margin-top: .1rem;
    font-size: .8rem;
    text-decoration: none;
}

#forgotten-password-link {
    align-self: flex-end;
    color: var(--red);
    transition: border-color 0.2s;
    border-bottom: 1px solid transparent;
}
#forgotten-password-link:hover{
    border-color: var(--red);
}

#register-link {
    color: var(--faint-text);
    margin: 23px 0 0 0;
}

/* Mobile */

@media screen and (max-width: 1280px){
    #login-section{
        flex-direction: column;
    }
    .login-section{
        width: 100%;
        margin: 44px 0;
        height: auto;
        min-height: 0;
    }
    .login-title{
        text-align: center;   
        font-size: 1.3em;
    }
    .login-subtitle{
        font-size: 0.8em;
    }
    #login-divider-bar{
        height: 3px;
        width: 90%;
        margin: 0 auto;
    }
    .language-checkbox{
        height: auto;
        min-height: 42px;
    }
    .login-input-content{
        margin: 6% 0 0 0;
    }
}

/* Very small screen */

@media screen and (max-width: 630px){
    .checkbox-content{
        flex-direction: column;
        max-height: none;
        height: auto;
    }
    .language-checkbox{
        border-radius: 0 !important;
    }
}

