/* Font */

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* General */
*{
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}

body{
    background-color: var(--background);
}

a{
    cursor: pointer;
}

/* Buttons */

.red-button, .white-button {
    height: 2rem;
    line-height: 2rem;
    padding: 0 2rem;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: filter 0.2s;
}

.red-button {
    background-color: var(--red);
    color: white;
}

.white-button {
    height: calc(2rem - 4px);
    line-height: calc(2rem - 4px);
    background-color: var(--background);
    color: var(--red);
    border: 2px solid var(--red);
}

.red-button:hover, .white-button:hover {
    filter: brightness(0.9);
}

.red-button:active, .white-button:active {
    filter: brightness(0.8);
}

/* Header */

header{
    background-color: var(--header-color);
    height: 3vw;
    padding: 0 4vw 0 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-logo {
    height: 70%;
    user-select: none;
}

#header-logo img{
    height: 100%;
}

#EDT-button{
    padding: 8px 32px;
}

/* Section title page */

.section-page-title{
    padding: 0 4vw 0 4vw;
    margin: 30px 0 0 0;
}

.page-title{
    font-weight: bold;
    font-size: 1.5em;
    color: var(--title-color);
}

.divider-bar{
    width: 114px;
    height: 6px;
    border-radius: 6px;
    background-color: var(--red);
    margin: 5px 0 20px 0;
}

/* Labeled input */

.labeled-input {
    position: relative;
    margin-top: 1rem;
    width: 100%;
    min-width: 20rem;
}

.labeled-input>input {
    width: calc(100% - 3rem);
    height: 3rem;
    padding: 0 1.5rem;
    border-radius: 1.5rem;
    display: block;
    background-color: var(--input-color);
    color: var(--faint-text);
    border: none;
    outline: none;
}

.labeled-input>label {
    position: absolute;
    bottom: 0;
    line-height: 3rem;
    padding-left: 1.5rem;
    display: block;
    color: var(--faint-text);
    font-size: .9rem;
    transition: .3s;
}

.labeled-input>input::placeholder {
    color: transparent;
    user-select: none;
}

.labeled-input>input:focus ~ label {
    bottom: 1.5rem;
    color: var(--text);
}

.labeled-input>input:focus {
    color: var(--text);
}

.labeled-input>input:not(:placeholder-shown) ~ label {
    bottom: 1.5rem;
}

/* Input Styles */

/*
THERE ARE FUCKING CONFLICTS WITH THESE THINGS
.input{
    max-width: 627px;
    max-height: 64px;
    font-size: 16px;
    border-radius: 34px;
    padding: 0 33px;
    border: none;
}
.input::placeholder{
    color: var(--input-text);
}

.form-button{
    min-width: 240px;
    max-height: 50px;
    background-color: var(--red);
    border: none;
    border-radius: 25px;
    font-size: 19px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: filter 0.2s;
    padding: 0 43px;
}
.form-button:hover{
    filter: brightness(0.9);
}
.form-button:active{
    filter: brightness(0.8);
}*/

/* Mobile */

@media screen and (max-width: 1280px){
    .page-title{
        font-size: 1.3em;  
    }
    .divider-bar{
        height: 4px;
        width: 85px;
    }
}